{% for title,content in wiki_information.content %}
  <div class="wiki_img_block">
    <div class="title-wiki-block"><a class="title-wiki-block-popap" href="/wiki/{{ content[0]['url_title'] }}">{{ title }}</a>
      <a href="https://www.youtube.com/results?search_query={{ title }}" target="_blank">[more videos]</a>
      <hr/>
    </div>
    <div class="description-wiki-block">{{ content[0]['description'] }}</div>
    {% if content[0]['img'] is not empty %}
      <div class="left-img">
        <img src="{{ content[0]['img'] }}">
        <span class="title_img-wiki">{{ content[0]['title_img'] }}</span>
      </div>
    {% endif %}
    {% if content[1]['img'] is not empty %}
      <div class="right-img">
        <img src="{{ content[1]['img'] }}">
        <span class="title_img-wiki">{{ content[1]['title_img'] }}</span>
      </div>
    {% endif %}
    {% if content[2]['img'] is not empty %}
      <div class="left-img">
        <img src="{{ content[2]['img'] }}">
        <span class="title_img-wiki">{{ content[2]['title_img'] }}</span>
      </div>
    {% endif %}
    {% if content[3]['img'] is not empty %}
      <div class="right-img">
        <img src="{{ content[3]['img'] }}">
        <span class="title_img-wiki">{{ content[3]['title_img'] }}</span>
      </div>
    {% endif %}
  </div>
{% endfor %}

