<div class="class-overflow">
  <div id="youtube-block">
    {% for value in youtube_search %}
      <ul>
        <li>

          <span class="left-stat">
              <img src="{{ value['videos_img'] }}">
          </span>
            <a class="youtubesearch-close">X</a>
            <iframe class="youtubesearch-frame" title="Youtube Video Player" src="" frameborder="0" allowfullscreen></iframe>
          <span>{{ value['title'] }}</span>
          <span class="youtube-stat">
            {{ value['duration'] }}
            {{ value['viewCount'] }}
            {{ value['likeCount'] }}
          </span>
        </li>
      </ul>
    {% endfor %}
  </div>
</div>


