<div class="class-overflow">
  <div id="youtube-block">
    {% for value in youtube_informatin %}
      <ul>
        <li>
          <div class="left-stat-chennel">
            <a href="https://youtu.be/{{value['youtube_id']}}" target="_blank">
              <img src="{{ value['videos_img'] }}">
            </a>
          </div>
          <div class="right-stat">
            <div>{{ value['title'] }}</div>
            <div class="youtube-stat">
              {{ value['duration'] }}
              <i class="fa fa-eye"></i>{{ value['viewCount'] }}
              <i class="fa fa-thumbs-o-up"></i>{{ value['likeCount'] }}
            </div>
          </div>
        </li>
      </ul>
    {% endfor %}
  </div>
</div>


